* {
  margin: 0;
  padding: 0;
}

#navBar-modelS {
  background-color: transparent;
}

.model-div {
  margin-left: 70px;
  justify-content: center;
  display: flex;
  text-align: center;
}

.modelS-div-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: 550px;
  position: fixed;
}

.modelS-div-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#buttons-div {
  padding-top: 458px;
}

.custom-order-div {
  background-color: rgba(23, 26, 32, 0.8);
  text-align: center;
  border: white;
}
#custom-order-content {
  color: white;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}
#existing-inventory-content {
  color: black;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

#existing-inventory-div {
  background-color: rgba(244, 244, 244, 0.65);
}
.model3-div-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: 290px;
  position: fixed;
  align-content: space-around;
  margin-left: -90px;
}
.model3-div-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modelX-div-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: 110px;
  position: fixed;
  align-content: space-around;
  margin-left: -90px;
}
.modelX-div-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modelY-div-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: -58px;
  position: fixed;
  align-content: space-around;
  margin-left: -90px;
}
.modelY-div-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.solarRoof-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: -245px;
  position: fixed;
  align-content: space-around;
  margin-left: -90px;
}
.solarRoof-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.solarPanels-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: -470px;
  position: fixed;
  align-content: space-around;
  margin-left: -90px;
}

.solarPanels-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.shop-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: -990px;
  position: fixed;
  align-content: space-around;
  margin-left: -90px;
}
.shop-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.account-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: -1165px;
  position: fixed;
  align-content: space-around;
  margin-left: -90px;
}
.account-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-content {
  font-family: Arial;
  text-decoration: none;
  color: black;
  margin-top: 45px;
  margin-right: -1312px;
  position: fixed;
  align-content: space-around;
  margin-left: -90px;
}
.menu-content:hover {
  border-radius: 12px;
  background-color: rgba(104, 104, 104, 0.1);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.teslaS-background {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/538ac149-d103-4834-9d38-641d8ae447ef/bvlatuR/std/4096x2560/Homepage-Model-S-Desktop-LHD");
  width: 100%;
  height: 820px;
  background-position: center;
  background-size: cover;
}
.background-div {
  width: 100vw;
  margin: 0;
  position: absolute;
}
#tesla-icon {
  width: 100px;
  height: 100px;
  padding-left: 35px;
  position: fixed;
}

.models {
  text-align: center;
  font-family: "Arial";
  font-size: 40px;
  padding-top: 150px;
}

.subhead-order-online {
  font-size: 15px;
  font-family: Arial;
  text-align: center;
  padding-top: 15px;
}

.touchless-delivery-links {
  font-family: Arial;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}
.touchless-delivery-links:hover {
  text-decoration: underline;
}

.teslaY-background {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");
  width: 100%;
  height: 828px;
  background-position: center;
  background-size: cover;
}
.modelY {
  text-align: center;
  font-family: "Arial";
  font-size: 40px;
  padding-top: 120px;
}

.tesla3-background {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/03e533bf-8b1d-463f-9813-9a597aafb280/bvlatuR/std/4096x2560/M3-Homepage-Desktop-LHD");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  background-size: cover;
}

.modelS {
  text-align: center;
  font-family: "Arial";
  font-size: 40px;
  padding-top: 65px;
}

.teslaX-background {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 820px;
  background-size: cover;
}

.modelX {
  text-align: center;
  font-family: "Arial";
  font-size: 40px;
  padding-top: 145px;
}

.solarpanels-background {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 820px;
  background-size: cover;
}

.solarpanels {
  text-align: center;
  font-family: "Arial";
  font-size: 40px;
  padding-top: 145px;
}

.solarroof-background {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 820px;
  background-size: cover;
}

.solar-roof {
  text-align: center;
  font-family: "Arial";
  font-size: 40px;
  padding-top: 145px;
}
.accessories-background {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/0x0/dd739764-bcaa-4263-9488-8c73bc9fb046");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 820px;
  background-size: cover;
}
#accessories {
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  padding-top: 136px;
  text-decoration: bold;
}

button {
  width: 275px;
  height: 40px;
  border-radius: 25px;
  margin-right: 20px;
}

#buttons-div {
  padding-top: 458px;
}

.order-now-div {
  background-color: rgba(23, 26, 32, 0.8);
  text-align: center;
  border: white;
}
#order-now-content {
  color: white;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}
#learn-more-content {
  color: black;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

#learn-more-div {
  background-color: rgba(244, 244, 244, 0.65);
}
.shop-now-div {
  background-color: rgba(23, 26, 32, 1);
  text-align: center;
  border: white;
}
#shop-now-content {
  color: white;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

#bottom-div {
  width: 650px;
  margin-top: -40px;
  margin-left: 400px;
  display: flex;
}

.bottom-content {
  font-family: Arial;
  text-align: center;
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 13px;
  flex-direction: row;
  white-space: nowrap;
  margin: 10px;
  color: rgb(71, 71, 71);
}

@media only screen and (max-width: 600px) {
  .modelS-div-content {
    display: none;
  }
  .model3-div-content {
    display: none;
  }
  .modelX-div-content {
    display: none;
  }
  .modelY-div-content {
    display: none;
  }
  .solarRoof-content {
    display: none;
  }
  .solarPanels-content {
    display: none;
  }
  .shop-content {
    display: none;
  }
  .account-content {
    display: none;
  }
  .menu-content {
    padding-right: 1001px;
  }
  .bottom-content {
    display: none;
  }
  .tesla3-background {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/9160c5a3-b818-42dd-bb98-b8597948c636/bvlatuR/std/1927x4096/M3-Homepage-Mobile-LHD");
    height: 667px;
  }
  .models {
    padding-top: 90px;
    font-size: 27px;
  }
  .custom-order-div {
    margin-top: -168px;
    font-size: 10px;
  }

  .teslaY-background {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/3304be3b-dd0a-4128-9c26-eb61c0b98d61/bvlatuR/std/0x0/3304be3b-dd0a-4128-9c26-eb61c0b98d61");
    height: 667px;
  }
  .modelY {
    padding-top: 90px;
    font-size: 27px;
  }
  .teslaS-background {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8138ba80-06f8-4bda-8bcd-a076a44b00f7/bvlatuR/std/1928x4096/Homepage-Model-S-Mobile-LHD");
    height: 667px;
  }
  .modelS {
    padding-top: 90px;
    font-size: 27px;
  }
  .teslaX-background {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/7d0fc315-dd4c-42f3-b9e1-a98f488f1e9a/bvlatuR/std/1927x4096/Homepage-Model-X-Mobile-LHD");
    height: 667px;
  }
  .modelX {
    padding-top: 90px;
    font-size: 27px;
  }
  .solarpanels-background {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/066f19b7-d68e-45e2-8575-ad0a6f8375a8/bvlatuR/std/600x1576/_25-HP-SolarPanels-M");
    height: 667px;
  }
  .solarpanels {
    padding-top: 90px;
    font-size: 27px;
  }
  .order-now-div {
    margin-top: -168px;
    font-size: 10px;
  }
  .solarroof-background {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/20c666b9-d09b-4687-bb37-22c8500489c5/bvlatuR/std/750x850/HP-SR-Design-M");
    height: 667px;
  }
  .solar-roof {
    padding-top: 90px;
    font-size: 27px;
  }
  .accessories-background {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/69095129-86c5-4f6c-a77a-740ceac04e82/bvlatuR/std/0x0/69095129-86c5-4f6c-a77a-740ceac04e82");
    height: 667px;
  }
  #accessories {
    padding-top: 90px;
    font-size: 27px;
  }
  .shop-now-div {
    margin-top: -168px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 850px) {
  .modelS-div-content {
    display: none;
  }
  .model3-div-content {
    display: none;
  }
  .model3-div-content {
    display: none;
  }
  .modelX-div-content {
    display: none;
  }
  .modelY-div-content {
    display: none;
  }
  .solarPanels-content {
    display: none;
  }
  .solarRoof-content {
    display: none;
  }
  .shop-content {
    display: none;
  }
  .account-content {
    display: none;
  }

  .bottom-content {
    display: none;
  }
  .tesla3-background {
    height: 100vh;
  }
  .models {
    padding-top: 130px;
  }

  .teslaS-background {
    height: 100vh;
  }
  .modelS {
    padding-top: 130px;
  }

  .teslaX-background {
    height: 100vh;
  }
  .modelX {
    padding-top: 130px;
  }

  .teslaY-background {
    height: 100vh;
  }
  .modelY {
    padding-top: 130px;
  }

  .solarpanels-background {
    height: 100vh;
  }
  .solarpanels {
    padding-top: 130px;
  }
  .order-now-div {
    margin-top: -104px;
  }

  .accessories-background {
    height: 100vh;
  }
  #accessories {
    padding-top: 130px;
  }
  .shop-now-div {
    margin-top: -50px;
  }

  .solarroof-background {
    height: 100vh;
  }
  .solar-roof {
    padding-top: 130px;
  }

  .custom-order-div {
    margin-top: -128px;
  }
}

@media only screen and (max-width: 1200px) {
  .modelS-div-content {
    display: none;
  }
  .model3-div-content {
    display: none;
  }
  .modelX-div-content {
    display: none;
  }
  .modelY-div-content {
    display: none;
  }
  .solarPanels-content {
    display: none;
  }
  .solarRoof-content {
    display: none;
  }
  .shop-content {
    display: none;
  }
  .account-content {
    display: none;
  }
  .menu-content {
    margin-right: -1090px;
  }
  .tesla3-background {
    height: 753px;
  }
  .models {
    margin-top: -19px;
  }
  .custom-order-div {
    margin-top: -99px;
  }
  .teslaS-background {
    height: 753px;
  }
  .modelS {
    margin-top: -19px;
  }
  .teslaX-background {
    height: 753px;
  }
  .modelX {
    margin-top: -19px;
  }
  .teslaY-background {
    height: 753px;
  }
  .modelY {
    margin-top: -19px;
  }
  .solarpanels-background {
    height: 753px;
  }
  .solarpanels {
    margin-top: -19px;
  }
  .solarroof-background {
    height: 753px;
  }
  .solar-roof {
    margin-top: -19px;
  }
  .order-now-div {
    margin-top: -123px;
  }
  .accessories-background {
    height: 753px;
  }
  #accessories {
    margin-top: -19px;
  }
  .shop-now-div {
    margin: -123px;
  }
  #bottom-div {
    margin-left: 305px;
  }
}
